{{ define "head" }}
<title>{{.Site.Title}} - {{.Site.Params.date}}</title>
<meta property="og:title" content="{{.Site.Title}} - {{.Site.Params.date}}">
<meta property="og:image" content="{{.Site.Params.backgroundImage}}">
<meta name="description" content="A community based conference focusing on Serverless based platforms and technologies. {{.Site.Params.city}}, {{.Site.Params.date}}">
{{ end }}

{{ define "main" }}

  <div class="heroContainer" style="background-image: url('{{.Site.Params.backgroundImage}}'); background-position: center;">
    <div class="heroDate">
      <h1>Dates</h1>
      <ul>
        {{ range .Site.Params.dates }} 
        {{ if eq .done true }}
        <li class="done"><div class="checkmark">✔️</div><div class="text">{{.date}}<br><strong>{{.text}}</strong></div></li>
        {{ else }}
        <li><div class="checkmark">️</div><div class="text">{{.date}}<br><strong>{{.text}}</strong></div></li>
        {{ end }}
        {{ end }}
      </ul>
    </div>

    <div class="heroTitle">
      <div class="title">
        <h1>One Day,<br>One Track,<br>One&nbsp;Community.</h1>
      </div>
    </div>
  </div>

 
  <a name="about"></a>
  <div class="section" style="border-top: 0;">
    <div class="left">
      <!-- <div class="title"><h1>About</h1></div> -->
      <div class="image"><img width="110" height="100" style="padding: 30px;" src="{{.Site.Params.mascot}}" alt="Serverless Days Mascot"></div>
    </div>
    <div class="text">
      <h2>Kia Ora {{.Site.Title}}!</h2>      
      <p>ServerlessDays Auckland is a developer-oriented conference about serverless technologies. We believe in and encourage
      practical sessions, in which developers share their experiences and lessons from real-world projects.</p>
      <p>{{.Site.Title}} 2020 is part of a global series events <a target="_blank" href="https://serverlessdays.io/events" rel="noopener">around the world</a> 
        fostering communities around serverless technologies. 
        After the inaugural event in <a target="_blank" href="https://2018.serverless.org.nz/" rel="noopener">2018</a>, ServerlessDays Auckland is back this year for its second instalment.</p>
      <p>We follow and enforce the ServerlessDays <a href="#coc">Code of Conduct</a>.</p>
    </div>
  </div>


 <a name="mailinglist"></a>
 <div class="section mailinglist">
   <div class="left">
     <h1>Mailing list</h1>
   </div>
   <div class="text">
     <div style="margin-left: 2px;">
       <!-- Begin Mailchimp Signup Form -->
       <form action="https://gmail.us4.list-manage.com/subscribe/post?u=e7df4df8303d6292732b6cab8&amp;id=d3538c4ab4"
         method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
         target="_blank" novalidate>
         <div id="mc_embed_signup_scroll"></div>
         <p><label for="mce-EMAIL">Sign up to get information on ServerlessDays Auckland 2020</label></p>
         <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px; display: inline;" aria-hidden="true"><input type="text"
             name="b_e7df4df8303d6292732b6cab8_d3538c4ab4" tabindex="-1" value=""></div>
         <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
       </form>
     </div>
     <!--End mc_embed_signup-->

   </div>
 </div>

  <a name="venue"></a>
  <div class="section" style="border-top: 0;">
    <div class="left">
      <div class="title"><h1>Venue</h1></div>
      <div class="image" style="padding: 0px 20px;"><iframe src="{{.Site.Params.venue.map}}" width="400" height="300" frameborder="0" style="border:0" allowfullscreen title="Venue"></iframe></div>
    </div>
    <div class="text">
      <p>The Conference will be hosted at the <a href="{{.Site.Params.venue.link}}">{{.Site.Params.venue.name}}</a></p>
      <p>{{.Site.Params.venue.text}}</p>
    </div>
  </div>


  <!-- <a name="agenda"></a>
  <div class="section agenda" style="border-top: 0">
    <div class="header-button"><h1>Agenda</h1></div>

    <h2>{{.Site.Params.date}}</h2>

    <div class="row">
        {{ $site := .Site }}
        {{ range .Site.Params.agenda }} 
        {{ $item := . }}
        {{ with .talk }}
        
          {{ with $site.GetPage . }}
          <div class="{{$item.type}}" onclick="location='{{.URL}}';">
            <span>{{$item.time}}</span> 
            <strong>{{.Title}}</strong> 
            <span>{{.Params.speaker}}{{with .Params.secondSpeaker}} &amp; {{.}}{{end}}</span>
          </div>  
          {{ end }} 

        {{ else }}
        <div class="{{.type}}">
          <span>{{.time}}</span>
          <strong>{{.title}}</strong>
          <span>{{.description}}</span>
        </div>
        {{end}}
        {{end}}  
    </div>
  </div> -->

  <a name="speakers"></a>
  <div class="section speakers" style="border-top: 0;">
    <h1>Speakers</h1>
    <div class="list" style="order:{{.Params.order}}">
         {{ range where .Site.RegularPages "Section" "speakers" }} 
        <div>
          <div class="bio" data-effect="mfp-zoom-in">
              <a href="{{.URL}}">
                  <img src="{{.Params.image}}" alt="{{.Params.speaker}}">
            <h3>{{.Params.speaker}}</h3>
          </a>
          {{ with .Params.twitter }}
            <a href="https://twitter.com/{{.}}" target="_blank" rel="noopener">@{{.}}</a>
            {{ end }}
          </div>
        </div>
        {{end}}
    </div>
        <div class="text">
          <p>Interested in taking part as a speaker? our <a class="mobile" href="https://www.papercall.io/serverlessdaysakl2020">Call
              for Papers</a> is now open!</p>
        </div>
  </div>

   <a name="workshops"></a>
  <div class="section workshops" style="border-top: 0">
    <h1>Workshops</h1>
    <div class="text">
      <p>This year, your ServerlessDays ticket will include access to a selection of fantastic hands-on workshops held the following day. 
    </div>
    <div class="list">
      {{ range where .Site.RegularPages "Section" "workshops" }} 
      <div>
        <div class="text" style="border: 1px solid #b0b0b0; border-radius: 5px; padding: 15px;">
          <h2>{{.Params.title}}</h2>
          <p><strong>What:</strong> {{.Params.short}}</p>
          <p><strong>When</strong> {{.Params.when}}</p>
          <p>Where: {{.Params.venue}}</p>          
          <p>Presented by</p>
          <div class="w-100"> <img width="300px" class="grow" src="{{.Params.image}}" alt="{{.Params.title}}"></div>
          <p><a href="{{.URL}}">Click here for more details and to reserve a seat</a></p>
        </div>
      </div>
      {{end}}
    </div>    
  </div>

 <a name="tickets"></a>
  <div class="section" style="border-top: 0;">
    <div class="title"><h1>Tickets</h1></div>
    <div class="left">
      
      <div class="image"><img width="100" height="141" style="padding: 30px;" src="https://res.cloudinary.com/dtsyxzxfx/image/upload/f_auto,q_auto/v1577987547/2020/owl_mascot.svg" alt="Serverless Days Mascot"></div>
    </div>
    <div class="text">
      <p>Tickets are available <a href="{{.Site.Params.ticketSaleUrl}}" target="_blank" rel="noopener">here!</a></p>
      <p><b>À la carte</b></p><p>In the interest of sustainability and paying only for what you use...we’ve kept the
        (awesome)
        T-Shirt as a separate purchase when buying tickets.<br>Please grab one, but only if it will be used!</p>
        <p><b>Sponsor someone else?</b></p>
          <p>We aim to keep the 2020 ServerlessDays event as financially accessible as possible with affordable tickets fo all.<p>
          <p>We also run a ticket sponsorship program that allows you to sponsor a ticket for somebody else who otherwise
          might not be able to participate in the event.</p>
        <p>To apply for a sponsored ticket, email us at <a class="no-underline" href="mailto:{{.Site.Params.email}}"
            title="Email us at {{.Site.Params.email}} ">{{.Site.Params.email}}</a>.
</p>     
      
      
      <div class="heroDate">
        <h1>Tickets</h1>
        <ul>
          {{ range .Site.Params.tickets }} 
          {{ if eq .done true }}
          <li class="done"><div class="checkmark">✔️</div><div class="text">{{.text}}<br><strong>{{.text}}</strong></div></li>
          {{ else }}
          <li><div class="checkmark">️</div><div class="text"><strong>{{.ticket}}</strong><br>{{.text}}<br><i>{{.price}}</i></div></li>
          {{ end }}
          {{ end }}
        </ul>
        <p><a class="button"
          href="{{.Site.Params.ticketSaleUrl}}">Buy your ticket</a></p>
      </div>
    </div>
  </div>  

  <a name="sponsors"></a>
  <div class="section sponsors" style="border-top: 0;">
    <h1>Sponsors</h1>
    <h2>Headline</h2>
    <div class="list bronze">
      {{ range where .Site.RegularPages "Section" "headline"  | shuffle}} 
      <div class="list" style="order:{{.Params.order}}">
        <div style="padding: 1.5em;">
          <a href="{{.URL}}">
            <img width="{{.Params.width}}px" class="grow" src="{{.Params.logo}}"
            title="{{.Params.name}}" alt="{{.Params.name}}"></a>
          </div>
        </div>
      {{ end }} -
    </div>
    <h2>Supporter</h2>
    <div class="list bronze">
      {{ range where .Site.RegularPages "Section" "supporter"  | shuffle}} 
      <div class="list" style="order:{{.Params.order}}">
        <div style="padding: 1.5em;">
          <a href="{{.URL}}">
            <img width="{{.Params.width}}px" class="grow" src="{{.Params.logo}}"
            title="{{.Params.name}}" alt="{{.Params.name}}"></a>
          </div>
        </div>
      {{ end }} 
    </div>
    <h2>Community</h2>
    <div class="list bronze">
      {{ range where .Site.RegularPages "Section" "community"  | shuffle}} 
      <div class="list" style="order:{{.Params.order}}">
        <div style="padding: 1.5em;">
          <a href="{{.URL}}">
            <img width="{{.Params.width}}px" class="grow" src="{{.Params.logo}}"
            title="{{.Params.name}}" alt="{{.Params.name}}"></a>
          </div>
        </div> 
      {{ end }} 
    </div>
    <div class="text">
    <p>For more information on becoming a sponsor, please download our <a href="{{.Site.Params.prospectus}}">prospectus</a> or send an email to <a href="{{.Site.Params.email}}">{{.Site.Params.email}}</a>.</p>
    </div>
  </div>
<!--  -->
  <a name="coc"></a>
  <div class="section coc" style="border-top: 0;">
    <h1>Code of Conduct</h1>
    <img width="80"
      src="https://res.cloudinary.com/dtsyxzxfx/image/upload/w_100,f_auto,q_auto/v1577987547/2020/tealdeer.jpg"
      title="tl;dr" alt="tl;dr">
    <div class="expanded">
      <p>We seek to create a diverse and inclusive community for serverless developers. We want to include and encourage people of all races, ethnicities, genders, religions, sexual orientations, abilities, technical experience and ages.</p>
      <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>
      <p><strong>Jeff says be excellent with each other</strong></p>
      <h3>The Quick Version</h3>
      <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>
      <h3>The Less Quick Version</h3>
      <p>Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
      <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
      <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
      <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>
      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they’ll be wearing branded t-shirts.</p>
      <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
      <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
    </div>
  </div>

{{ end }}
