{{ define "head" }}
<title>{{.Title}} - {{.Site.Title}}</title>
<meta property="og:title" content="{{.Title}} - {{.Site.Title}}">
<meta property="og:image" content="{{.Params.image | absURL}}">
<meta name="description" content="{{.Description | safeHTML }}">
{{ end }}

{{ define "main" }}
<div class="breadcrumb">&nbsp;</div>
<div class="section speakers" style="border-top: 0;">
  <h1>Postponement FAQ</h1>
  <!--div class="section talk"-->
    

  <!--/div-->
  {{ range where .Site.RegularPages "Section" "faq" }}
  <div class="section talk">
    <div class="text">
      <h2>{{.Params.question}}</h2>
      <p>{{.Params.Content | safeHTML }}</p>
    </div>
  </div>
  {{ end }}
  <a class="button" href="/">Home</a>
</div>


{{ end }}
