{{ define "head" }}
<title>Sponsor - {{.Params.Name}}</title>
<meta property="og:title" content="{{.Params.Name}}">
<meta property="og:image" content="{{.Params.logo | absURL}}">
<meta name="description" content="{{.Params.Description | safeHTML }}">
{{ end }}

{{ define "main" }}
<div class="breadcrumb">&nbsp;</div>

<div class="section workshop">
  <img width="{{.Params.Width}}px" src="{{.Params.Logo}}" title="{{.Params.Name}}" alt="{{.Params.Name}}" style="display: block; padding: 1em;">
  <div class="text">
    <p>{{.Params.Description | safeHTML}}</p>

    <p><a href="{{.Params.Link}}" target="_blank">Visit {{.Params.Name}}'s web site</a></p>

    <a class="button" href="/#sponsors">Back to the sponsors</a>
  </div>
</div>
{{ end }}
